input,
textarea,
button,
::file-selector-button,
::color-swatch,
meter,
progress,
fieldset,
legend {
    color: inherit;
    font: inherit;
    box-sizing: border-box;
    background-color: transparent;
}

input:not([type=file], [type=range], [type=checkbox][switch]),
textarea,
button,
::file-selector-button,
::slider-track,
fieldset {
  border: 1px solid currentColor;
  background-color: transparent;
}

input[type="checkbox"][switch],
input[type="range"] {
  display: inline-flex;
  position: relative;
  align-items: center;
  inline-size: 100%;
}

input[type="checkbox"][switch]::slider-track,
input[type="range"]::slider-track,
meter::slider-track,
progress::slider-track {
  block-size: 1em;
  inline-size: 100%;
}

input[type=range]::slider-track {
  block-size: 0.5em;
}

input[type=checkbox][switch]::slider-track {
  border-radius: 1em;
}

input[type="checkbox"][switch]::slider-fill,
input[type="range"]::slider-fill,
meter::slider-fill,
progress::slider-fill {
  block-size: 100%;
  background-color: currentColor;
}

progress:indeterminate::slider-fill {
  inline-size: 0;
}

input[type="range"]::slider-fill,
input[type=checkbox][switch]::slider-fill {
  background-color: color-mix(currentColor 25%, transparent);
  border-radius: inherit;

  block-size: 100%;
}

input[type=checkbox][switch]::slider-fill {
  inline-size: 0%;
}

input[type="checkbox"][switch]:checked::slider-fill {
  inline-size: 100%;
}

input[type="checkbox"][switch]::slider-thumb,
input[type="range"]::slider-thumb {
  border-radius: 0;
  border: none;
  background-color: currentColor;
  appearance: none;
  inline-size: 1em;
  block-size: 1em;
  border-radius: 100%;
  position: absolute;
}

input[type=checkbox][switch]:checked::slider-thumb {
  inset-inline-end: 0;
}

input[type=checkbox]:not([switch]),
input[type=radio] {
    /* These size rules ensure accessibility by following WCAG rules:
     * https://www.w3.org/WAI/WCAG22/Understanding/target-size-minimum.html */
    block-size: 1em;
    inline-size: 1em;
    font-size: max(1em, 24px);

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

input[type=checkbox]:not([switch])::checkmark {
    content: '\2713' / '';
}

input[type=radio]::checkmark {
    content: '';
}

/* input[type=checkbox]:not([switch], :checked, :indeterminate)::checkmark { */
input[type=radio]:not(:checked)::checkmark {
    visibility: hidden;
}

input[type=checkbox]:indeterminate::checkmark {
    content: '\2500' / '';
}

input[type=radio] {
    border-radius: 50%;
}

input[type=radio]:checked::checkmark {
    background-color: currentColor;
    display: inline-block;
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

button,
::file-selector-button,
input:is([type="color"], [type="button"], [type="reset"], [type="submit"]) {
  border: 1px solid currentColor;
  background-color: transparent;
  color: inherit;
  /* Padding prevents the text from sticking to the borders.
   * optically centered to account for half leading */
  padding-block: 0.25em;
  padding-inline: 0.5em;

  /* <select>s and <button>s should have border-radius to be
   * distinct from <input>s: https://github.com/w3c/csswg-drafts/issues/10857#issuecomment-2520875011*/
  border-radius: 0.5em;

  /* These min-size rules ensure accessibility by following WCAG rules:
   * https://www.w3.org/WAI/WCAG22/Understanding/target-size-minimum.html
   * The 1lh is there to make sure that options without text don't change
   * the block size of the button. */
  min-block-size: calc-size(auto, max(size, 24px, 1lh));
  min-inline-size: calc-size(auto, max(size, 24px));

  /* box-sizing comes from existing UA styles which happen to
   * already be interoperable. */
  box-sizing: border-box;

  /* Push picker icon to the right of the box and have some space
   * in between it and the text. */
  display: inline-flex;
  gap: 0.5em;

  user-select: none;

  text-transform: initial;
  text-align: initial;
  text-indent: initial;
}

button:enabled:hover,
input:is([type="color"], [type="button"], [type="reset"], [type="submit"]):enabled:hover,
input[type="file"]:enabled::file-selector-button:hover {
  background-color: color-mix(currentColor 10%, transparent);
}

button:enabled:active,
input:is([type="color"], [type="button"], [type="reset"], [type="submit"]):enabled:active,
input[type="file"]:enabled::file-selector-button:active {
  background-color: color-mix(currentColor 20%, transparent);
}

button:disabled,
input:is([type="color"], [type="button"], [type="reset"], [type="submit"]):disabled,
input[type="file"]:disabled::file-selector-button {
  color: color-mix(currentColor 50%, transparent);
}

input[type="color"] {
  padding: 0;
  overflow: clip;
}

::color-swatch {
  inline-size: stretch;
  block-size: stretch;

  /* These prevent forced dark mode or forced colors mode from changing the background. */
  color-scheme: light only;
  forced-color-adjust: none;

  /* Uses a linear gradient to handle showing the alpha channel of chosen color */
  background: linear-gradient(control-value()), linear-gradient(to bottom right, black 50%, white 50%);
}

input::field-text {
  display: flow !important;
}

input::field-component,
input::field-separator {
  position: static !important;
}
