#outer { color: red }
#inner { color: blue }

#outer { position: relative; top: -12px; color: red }
#inner { position: relative; top: 12px; color: blue }

#outer { color: red }
#inner { float: right; width: 130px; color: blue }

#inner { float: right; width: 130px; color: blue }
#sibling { clear: right; color: red }

#outer {
    position: absolute;
    top: 200px; left: 200px;
    width: 200px;
    color: red;
}
#inner { color: blue }

#outer {
    position: relative;
    color: red
}
#inner {
    position: absolute;
    top: 200px; left: -100px;
    height: 130px; width: 130px;
    color: blue;
}

#outer { color: red }
#inner {
    position: absolute;
    top: 200px; left: -100px;
    height: 130px; width: 130px;
    color: blue;
}
