p { letter-spacing: 1em; }

p { letter-spacing: 1em; }


p    { letter-spacing: 1em; }
span { letter-spacing: 2em; }

p    { letter-spacing: 1em; }
span { letter-spacing: 2em; }

p    { letter-spacing: 1em; }
span { letter-spacing: 2em; }
