/* make option elements align together */
option { text-align: match-parent; }


/* do not allow white space to collapse in textarea */
textarea { white-space-collapse: preserve !important; }

/* preserve character grid in preformatted text */
pre, code, kbd, samp, tt { text-spacing: none; }
