li:nth-child(1) { view-transition-name: item1; }
li:nth-child(2) { view-transition-name: item2; }
li:nth-child(3) { view-transition-name: item3; }
li:nth-child(4) { view-transition-name: item4; }

li {
  view-transition-name: auto;
  /* or */
  view-transition-name: match-element;
}
