.fup {
  color: color(display-p3 1 1 0);
  color: color(srgb 1 1 -0.3463);
  color: color(oklch 0.96476 0.24503 110.23);
  color: color(oklch 0.96476 0.21094 110.23);
  color: color(srgb 0.99116 0.99733 0.00001);
}
