.fup {
  color: rgb(29 164 192 / 95%);
  color: rgb(146.064 107.457 131.223);
  color: rgb(57.28% 42.14% 51.46%);
  color: lab(56.200% 0.000 83.600);
  color: lch(37% 105.0 305.00);
  color: lch(56.2% 83.6 357.4 /93%);
  color: oklab(54.0% -0.10 -0.02);
  color: oklch(56.43% 0.0900 123.40);
  color: oklch(53.85% 0.1725 320.67 / 70%);
  color: color(dIsPlAy-P3  0.964  0.763  0.787);
  color: color(prophoto-rgb 0.2804 0.40283 0.42259/85%);
}
