H1 { margin: 0.5em } /* em */
H1 { margin: 1ex } /* ex */

H1 { line-height: 1.2em }

H1 { font-size: 1.2em }

BODY {
 font-size: 12pt;
 text-indent: 3em; /* i.e., 36pt */
}
H1 { font-size: 15px }

H1 { margin: 0.5in } /* inches */
H2 { line-height: 3cm } /* centimeters */
H3 { word-spacing: 4mm } /* millimeters */
H4 { font-size: 12pt } /* points */
H4 { font-size: 1pc } /* picas */
p { font-size: 12px } /* px */

P { font-size: 10pt }
P { line-height: 120% } /* 120% of ’font-size’ */

BODY { background: url("http://www.bg.com/pinkish.png") }

LI { list-style: url(http://www.redballs.com/redball.png) disc }

BODY { background: url("yellow") }

P {counter-increment: par-num}
H1 {counter-reset: par-num}
P::before {content: counter(par-num, upper-roman) ". "}

BODY {color: black; background: white }
H1 { color: maroon }
H2 { color: olive }

EM { color: #f00 } /* #rgb */
EM { color: #ff0000 } /* #rrggbb */
EM { color: rgb(255,0,0) } /* integer range 0 - 255 */
EM { color: rgb(100%, 0%, 0%) } /* float range 0.0% - 100.0% */

EM { color: rgb(255,0,0) } /* integer range 0 - 255 */
EM { color: rgb(300,0,0) } /* clipped to rgb(255,0,0) */
EM { color: rgb(255,-10,0) } /* clipped to rgb(255,0,0) */
EM { color: rgb(110%, 0%, 0%) } /* clipped to rgb(100%,0%,0%) */

"this is a 'string'"
"this is a \"string\""
'this is a "string"'
'this is a \'string\''

A[TITLE="a not s\
o very long title"] {/*...*/}
A[TITLE="a not so very long title"] {/*...*/}

h3 {
 display: inline;
 display: run-in;
 }
