body { font-family: Gill, Helvetica, sans-serif }

span {
font-family: Red/Black, sans-serif;
font-family: "Lucida" Grande, sans-serif;
font-family: Ahem!, sans-serif;
font-family: test@foo, sans-serif;
font-family: #POUND, sans-serif;
font-family: Hawaii 5-0, sans-serif;
}

body { font-family: "New Century Schoolbook", serif }
