.pfft
{   animation-range: entry 10% exit 90%;
    animation-range-start: entry 10%;
    animation-range-end: exit 90%;

    animation-range: entry;
    animation-range-start: entry 0%;
    animation-range-end: entry 100%;

    animation-range: entry exit;
    animation-range-start: entry 0%;
    animation-range-end: exit 100%;

    animation-range: 10%;
    animation-range-start: 10%;
    animation-range-end: normal;

    animation-range: 10% 90%;
    animation-range-start: 10%;
    animation-range-end: 90%;

    animation-range: entry 10% exit;
    animation-range-start: entry 10%;
    animation-range-end: exit 100%;

    animation-range: 10% exit 90%;
    animation-range-start: 10%;
    animation-range-end: exit 90%;

    animation-range: entry 10% 90%;
    animation-range-start: entry 10%;
    animation-range-end: 90%; }
