/*
Example taken from CSS 2.0 specification. Its (c) notice states:

Permission to use, copy, and distribute the contents of this document, or the
W3C document from which this statement is linked, in any medium for any
purpose and without fee or royalty is hereby granted, provided that you include
the following on ALL copies of the document, or portions thereof, that you use: 
1. A link or URI to the original W3C document. 
2. The pre-existing copyright notice of the original author, if it doesn’t exist, a
notice of the form: "Copyright © World Wide Web Consortium, 
(Massachusetts Institute of Technology, Institut National de Recherche en 
Informatique et en Automatique, Keio University). All Rights Reserved." 
3. If it exists, the STATUS of the W3C document

https://www.w3.org/TR/1998/REC-CSS2-19980512/
Copyright [p. 18] © 1998 W3C (MIT, INRIA, Keio ), All Rights Reserved.
W3C Recommendation
*/

MATH + P { text-indent: 0 }

H1 + H2 { margin-top: -5mm }

H1.opener + H2 { margin-top: -5mm }
