.container {
  display: grid;
}
.container > div {
  width: 100px;
  height: 100px;
  /* Place the elements on top of each other */
  grid-area: 1 / 1;
}
.from {
  background-color: rgb(100% 0% 0% / 50%);
}
.to {
  background-color: rgb(0% 0% 100% / 50%);
}

.from {
  opacity: 0.5;
}
.to {
  opacity: 0.5;
}

.container {
  /* Limit the scope of the plus-lighter operation */
  isolation: isolate;
}
.from {
  opacity: 0.5;
}
.to {
  opacity: 0.5;
  mix-blend-mode: plus-lighter;
}
