.doris
{
color: color(rec2100-pq 0.58 0 0); /* ictcp(44.6% -0.129 0.399) */
color: color(rec2020 1 0 0);       /* ictcp(44.7% -0.130 0.399)  */

color: color(rec2100-pq 0.58 0 0); /* ictcp(44.6% -0.129 0.399) */
color: red;                        /* ictcp(42.8% -0.116 0.279) */
}

.sid
{
color: ictcp(0.5393 -0.2643 -0.0625);
color: ictcp(0.58069 0 0);

color: jzazbz(0.22207 -0.00016 -0.00012);

color: jzazbz(0.17542 -0.1179 0.1092);

color: jzczhz(0.17542 0.1614 132.50);

}
