.bert
{
color: color(rec2100-pq 1.0 1.0 1.0);

color: color(rec2100-pq 0.58 0.58 0.58);

color: color(rec2100-pq 0.34 0.34 0.34);
}

.marge
{
color: color(rec2100-hlg 0.75 0.75 0.75);

color: color(rec2100-hlg 0.38 0.38 0.38);
}

.sid
{
color: color(rec2100-linear 9.852 9.852 9.852);

color: color(rec2100-linear 1 1 1);
}
