H1 { color: red; rotation: 70minutes }

H1 { color: red }

IMG { float: left } /* correct CSS2 */
IMG { float: left here } /* "here" is not a value of ’float’ */
IMG { background: "red" } /* keywords cannot be quoted in CSS2 */
IMG { border-width: 3 } /* a unit must be specified for length values */

IMG { float: left }
IMG { }
IMG { }
IMG { }

p { color:green }
p { color:green; color } /* malformed declaration missing ’:’, value */
p { color:red; color; color:green } /* same with expected recovery */
p { color:green; color: } /* malformed declaration missing value */
p { color:red; color:; color:green } /* same with expected recovery */
p { color:green; color{;color:maroon} } /* unexpected tokens { } */
p { color:red; color{;color:maroon}; color:green } /* same with recovery */

p @here {color: red} /* ruleset with unexpected at-keyword "@here" */
@foo @bar; /* at-rule with unexpected at-keyword "@bar" */
}} {{ - }} /* ruleset with unexpected right brace */
) ( {} ) p {color: red } /* ruleset with unexpected right parenthesis */

@three-dee {
 @background-lighting {
 azimuth: 30deg;
 elevation: 190deg;
 }
 h1 { color: red }
}
h1 { color: blue }

 @media screen {
 p:before { content: 'Hello