.wombats-in-space
{   
    shape-outside : circle(at left bottom);

    shape-outside : circle(closest-side at center);

    shape-outside : circle(at bottom left);

    shape-outside : circle(at right 5px bottom 10px);

    shape-outside : circle(at right 5px top);

    shape-outside : circle(at right 5% top 0px);
}

.bubble { clip-path: path("m 5 0 H 95 Q 100 0 100 5 V 92 Q 100 97 95 97 H 70 l -2 3 l -2 -3 H 5 Q 0 97 0 92 V 5 Q 0 0 5 0") }

.bubble { clip-path: shape(	from 5% 0%,
              hline to 95%,
              curve to 100% 5% with 100% 0%,
              vline to 92%,
              curve to 95% 97% with 100% 97%,
              hline to 70%,
              line by -2% 3%,
              line by -2% -3%,
              hline to 5%,
              curve to 0% 92% with 0% 97%,
              vline to 5%,
              curve to 5% 0% with 0% 0%); }

.bubble { clip-path: shape(	from 5px 0%,
              hline to calc(100% - 5px),
              curve to 100% 5px with 100% 0%,
              vline to calc(100% - 8px),
              curve to calc(100% - 5px) calc(100% - 3px) with 100% calc(100% - 3px),
              hline to 70%,
              line by -2px 3px,
              line by -2px -3px,
              hline to 5px,
              curve to 0% calc(100% - 8px) with 0% calc(100% - 3px),
              vline to 5px,
              curve to 5px 0% with 0% 0%); }

.bubble { clip-path: shape(from 5px 0,
              hline to calc(100% - 5px),
              curve to right 5px with right top,
              vline to calc(100% - 8px),
              curve to calc(100% - 5px) calc(100% - 3px) with right calc(100% - 3px),
              hline to 70%,
              line by -2px 3px,
              line by -2px -3px,
              hline to 5px,
              curve to left calc(100% - 8px) with left calc(100% - 3px),
              vline to 5px,
              curve to 5px top with left top); }

:root {
  --radius: 5px;
  --arrow-length: 3px;
  --arrow-half-width: 2px;
  --arrow-position: 70%;
  --arrow-bottom-offset: calc(100% - var(--radius) - var(--arrow-length));
}

.bubble {
  animation: bubble 100ms;
  clip-path: shape(from var(---radius) top,
    hline to calc(100% - var(---radius)),
    curve to right var(---radius) with right top,
    vline to var(---arrow-bottom-offset),
    curve to calc(100% - var(---radius)) calc(100% - var(---arrow-length))
              with right calc(100% - var(---arrow-length)),
    hline to var(---arrow-position),
    line by var(---arrow-half-width) var(---arrow-length),
    line by var(---arrow-half-width) calc(0px - var(---arrow-length)),
    hline to var(---radius),
    curve to left var(---arrow-bottom-offset) with left calc(100% - var(---arrow-length)),
    vline to var(---radius),
    curve to var(---radius) top with left top); }

