
#nav_menu { width: 20em; height: 100em }

#nav_list { font-size: 100%; }

input.form1 { font-size: 100%; width: 15em; }

input.pick { font-size: 100%; width: 10em; }

input.choose { width: 1.2em; height: 1.2em; }
