.froo {
    color:  color-mix(in lch, peru 40%, palegoldenrod);
    background-color:  color-mix(in srgb, peru 40%, palegoldenrod);
    color: lch(from peru calc(l * 0.8) calc(c * 0.7) calc(h + 180)); }

@color-profile --swop5c {src: url('https://example.org/SWOP2006_Coated5v2.icc');
}
.header {
background-color:    color(--swop5c  0% 70.0% 20.00% .0%);
}

.frup {
    color: device-cmyk(0 81% 81% 30%); }
